// ==========================================================================
// Breakpoints
// ==========================================================================
$sm  = 768
$md  = 769
$lg  = 960
$xl  = 1024
$xxl = 1280

$breakpoints = {
  sm: s("only screen and (max-width: %spx)", $sm),
  md: s("only screen and (min-width: %spx)", $md),
  md-to-lg: s("only screen and (min-width: %spx) and (max-width: %spx)", $md, $lg - 1), 
  md-to-xl: s("only screen and (min-width: %spx) and (max-width: %spx)", $md, $xl - 1), 
  lg: s("only screen and (min-width: %spx)", $lg),
  xl: s("only screen and (min-width: %spx)", $xl),
  xxl: s("only screen and (min-width: %spx)", $xxl),
  sm-landscape: "only screen and (max-width: 896px) and (orientation: landscape)",
  md-retina: s("only screen and (min-width: %spx) and (-webkit-min-device-pixel-ratio: 2)", $md),
}

// ==========================================================================
// Size
// ==========================================================================
$viewport-sm = 750
$viewport-md = 1280

// ==========================================================================
// Font
// ==========================================================================
$font-family-primary = "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$body-font-family = $font-family-primary

// ==========================================================================
// Color
// ==========================================================================
$bg-color = #ffffff
$font-color = #000000
$link-color = #000000

// ==========================================================================
// Ease
// ==========================================================================
// Linear
$ease-linear = cubic-bezier(0.0, 0.0, 1.0, 1.0)

// Sine（最も弱い）
$ease-sine-in = cubic-bezier(0.47, 0, 0.745, 0.715)
$ease-sine-out = cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-sine-in-out = cubic-bezier(0.445, 0.05, 0.55, 0.95)

// Quad（弱め。Sineより強く、Cubicより弱い）
$ease-quad-in = cubic-bezier(0.55, 0.085, 0.68, 0.53)
$ease-quad-out = cubic-bezier(0.25, 0.46, 0.45, 0.94)
$ease-quad-in-out = cubic-bezier(0.455, 0.03, 0.515, 0.955)

// Cubic（Quadより強く、Quartより弱い）
$ease-cubic-in = cubic-bezier(0.55, 0.055, 0.675, 0.19)
$ease-cubic-out = cubic-bezier(0.215, 0.61, 0.355, 1)
$ease-cubic-in-out = cubic-bezier(0.645, 0.045, 0.355, 1)

// Quart（Cubicより強く、Quintより弱い）
$ease-quart-in = cubic-bezier(0.895, 0.03, 0.685, 0.22)
$ease-quart-out = cubic-bezier(0.165, 0.84, 0.44, 1)
$ease-quart-in-out = cubic-bezier(0.77, 0, 0.175, 1)

// Quint（Quartより強く、Expoより弱い）
$ease-quint-in = cubic-bezier(0.755, 0.05, 0.855, 0.06)
$ease-quint-out = cubic-bezier(0.23, 1, 0.32, 1)
$ease-quint-in-out = cubic-bezier(0.86, 0, 0.07, 1)

// Expo（最も強い）
$ease-expo-in = cubic-bezier(0.95, 0.05, 0.795, 0.035)
$ease-expo-out = cubic-bezier(0.19, 1, 0.22, 1)
$ease-expo-in-out = cubic-bezier(1, 0, 0, 1)

// Circ（Expoのような強さを持つが、加速や減速の時間がよりゆるやか。）
$ease-circ-in = cubic-bezier(0.6, 0.04, 0.98, 0.335)
$ease-circ-out = cubic-bezier(0.075, 0.82, 0.165, 1)
$ease-circ-in-out = cubic-bezier(0.785, 0.135, 0.15, 0.86)

// Back（少し行き過ぎてから戻ってくるような動き）
$ease-back-in = cubic-bezier(0.6, -0.28, 0.735, 0.045)
$ease-back-out = cubic-bezier(0.175, 0.885, 0.32, 1.275)
$ease-back-in-out = cubic-bezier(0.68, -0.55, 0.265, 1.55)