+media('sm')
  .md
    display none !important

+media('md')
  .sm
    display none !important

/**
 * see https://github.com/ampproject/amphtml/blob/2e9a940e78df8de38a6c06a0772aeaa4839a24d1/css/ampshared.css#L164-L194
 */
.visually-hidden
  block-size 4px !important
  contain strict !important
  display block !important
  inline-size 4px !important
  inset 0 !important
  opacity 0 !important
  pointer-events none !important
  position fixed !important
