---
import Layout from "@/layouts/Layout.astro";

const pageTitle       = ["タイトル", "ogタイトル"];
const pageDescription = ["ディスクリプション", "ogディスクリプション"];
const pageBodyClass   = "page-home";
---
<Layout pageTitle={pageTitle} pageDescription={pageDescription} pageBodyClass={pageBodyClass}>
  <h1>TryMore Astro Template 🚀</h1>
</Layout>
