---
import Layout from '@/layouts/Layout.astro'

const title       = 'Home'
const description = 'Homeディスクリプション'
const bodyClass   = 'page-home'
---
<Layout title={title} description={description} bodyClass={bodyClass}>
  <h1>TryMore Astro Template 🚀</h1>
</Layout>