html
  +media('md')
    font-size 62.5%

body
  font-vw(16)
  background-color $bg-color
  color $font-color
  font-family $body-font-family
  font-feature-settings 'palt'
  line-height 1
  text-rendering auto
  +media('md')
    font-rem(16)

a
  color $link-color

small
  font-size 100%

img
  max-width 100%
  size 100% auto
  +media('md')
    width auto

svg
  size 100%
