---
const { href, title = '', ...otherProps } = Astro.props;
---
<svg role={title ? 'img' : null} aria-label={title? title : null} {...otherProps}>
  {title && <title>{title}</title>}
  <use href={`#${href}`}></use>
</svg>
